<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue-guide</title>
  <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
  <script src="lib/vue.js"></script>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>
  <div id="app-2">
    <span v-bind:title="message">
      鼠标悬停此处几秒，
      可以看到此处动态绑定的 title！
    </span>
  </div>
  <div id="app-3">
    <span v-if="seen">现在你可以看到我</span>
  </div>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
  </div>
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
  <div id="app-7">
    <ol>
      <!--
        现在我们为每个 todo-item 提供 todo 对象
        todo 对象是变量，即其内容可以是动态的。
        我们也需要为每个组件提供一个“key”，稍后再
        作详细解释。
      -->
      <todo-item
              v-for="item in groceryList"
              v-bind:todo="item"
              v-bind:key="item.id">
      </todo-item>
    </ol>
  </div>

  <div id="app2_1">
    <p>{{ obj.foo }}</p>
    <!-- 这里的 `obj.foo` 不会更新！ -->
    <button @click="obj.foo = 'baz'">Change it</button>
  </div>

  <div id="example">
    <p>Original message: "{{ message }}"</p>
    <p>Computed reversed message: "{{ reversedMessage }}"</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <div id="watch-example">
    <p>
      Ask a yes/no question:
      <input v-model="question">
    </p>
    <p>{{ answer }}</p>
  </div>


  <div id="vif-example" v-if="ok">
    <h1>Title</h1>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
  </div>

<!--  v-for 指令需要使用 item in items 形式的特殊语法，items 是源数据数组并且 item 是数组元素迭代的别名。-->
  <ul id="example-vfor">
    <li v-for="item in items">
      {{ item.message }}
    </li>
  </ul>

<!--  在 v-for 块中，我们拥有对父作用域属性的完全访问权限。v-for 还支持一个可选的第二个参数为当前项的索引。-->
  <ul id="example-vfor2">
    <li v-for="(item, index) of items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>

  <!--可以用 v-for 通过一个对象的属性来迭代-->
  <ul id="v-for-object" class="demo">
    <li v-for="value in object">
      {{ value }}
    </li>
  </ul>

 <!-- 任何数据都不会被自动传递到组件里，因为组件有自己独立的作用域。为了把迭代数据传递到组件里，我们要用 props ：-->
<!--  is="todo-item" 属性。这种做法在使用 DOM 模板时是十分必要的，因为在 <ul> 元素内只有 <li> 元素会被看作有效内容-->
  <div id="todo-list-example">
    <input
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
            placeholder="Add a todo"
    >
    <ul>
      <li
              is="todo-item"
              v-for="(todo, index) in todos"
              v-bind:key="todo.id"
              v-bind:title="todo.title"
              v-on:remove="todos.splice(index, 1)"
      ></li>
    </ul>
  </div>
</body>
<script src="guide.js"></script>
</html>